#map {
  /* 缩放按钮控件 */
  .ol-zoom {
    background-color: transparent;
    .ol-zoom-in {
      /* 放大按钮 */
    }
    .ol-zoom-out {
      /* 缩小按钮 */
    }
    .ol-zoom-out-custom {
      margin-top: 230px;
    }
  }
  /* 缩放滑块控件 */
  .ol-zoomslider {
    /* background-color: transparent; */
    top: 60px;
  }
  /* 缩放到指定区域控件 */
  .ol-zoom-extent {
    top: 33px;
  }
  /* 鼠标位置控件 */
  .ol-mouse-position {
    /* bottom: 1%; */
  }
  .custom-mouse-position {
    color: #ff7410;
    position: absolute;
    right: 2%;
    bottom: 2%;
    font-size: 16px;
    font-family: "微软雅黑";
  }
  /* 比例尺控件 */
  .ol-scale-line {
    left: 180px;
  }
  /* 全屏按钮控件 */
  .ol-full-screen {
    top: 30px;
  }

  /* 自定义基础控件 */
  .custom-btn {
    position: absolute;
    left: 10%;
    top: 0%;
    background-color: #ffffff;
    display: flex;
    z-index: 10;
  }
  /* 用于隐藏控件 */
  .custom-hide {
    display: none;
  }
  /* 自定义图层列表控件 */
  .layer-control {
    width: 15%;
    color: #ffffff;
    background-color: #365bff;
    position: absolute;
    z-index: 10;
    bottom: 10%;
    right: 1%;
    ul {
      list-style: none;
      padding: 0 10px;
    }
  }
  /* 自定义图层探索控件 */
  .layer-explore {
    position: absolute;
    top: 0%;
    right: 5%;
    z-index: 10;
    background-color: #365bff;
    color: #ffffff;
  }
  /* 自定义动画按钮控件 */
  .animate-control {
    position: absolute;
    top: 0%;
    left: 38%;
    z-index: 10;
    background-color: #ffffff;
  }

  /* 测量控件 */
  .measure-menu {
    position: absolute;
    z-index: 10;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    left: 10%;
    opacity: 0.8;
  }
  .measure-popup {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  /* 图文标注控件  */
  .marker-menu {
    position: absolute;
    z-index: 10;
    top: 4%;
    left: 4%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
  }

  /* popup样式 */
  .ol-popup {
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
    /* height: 100px; */
    background-color: #fff;
    position: relative;
    .ol-popup-closer {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
  .ol-popup::after,
  .measure-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }
}
