.title {
  h1 {
    margin: 0;
  }
  /* overflow: hidden; */
  .draw-shape {
    position: absolute;
    right: 5%;
    bottom: 1%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
  }

  .custom-hide {
    display: none;
  }

  .custom-style {
    z-index: 11;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    width: 930px;
    top: 2%;
    right: 18%;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;

    input[type="range"] {
      width: 7%;
    }
    input[type="color"] {
      width: 30px;
      height: 20px;
      padding: 0;
    }
    input[type="number"] {
      width: 7%;
    }
  }
  .select-shape {
    position: absolute;
    right: 25%;
    bottom: 1%;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}
