* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.list {
  width: 20%;
  height: 100%;
  background-color: #efd6d6;
  padding: 20px;
  box-sizing: border-box;

  ul {
    margin-left: 20px;
    li {
      cursor: pointer;
      margin-top: 8px;
    }
    li:hover {
      color: #e74a4a;
      transform: translateX(2px);
    }
  }
}
#app {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map {
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px #888888;
  /* background-color: #9c6262; */
}
