* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  /* min-height: 1000px; */
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
