html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  user-select: none;
}
.maps {
  height: 100%;
  display: flex;
  #map {
    height: 100%;
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
  #right-map {
    height: 100%;
    width: 0%;
    transition: width 0.5s ease-in-out;
  }
  .link-view {
    width: 50% !important;
  }
}
.search {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 100px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    input {
      width: 80%;
      height: 30px;
      border-width: 2px 0 2px 2px;
      border-radius: 10px 0 0 10px;
      border-color: #b4d6ff;
    }
    input:focus {
      border-color: #5ea7ff;
      outline: none;
    }
    #search-btn {
      width: 20%;
      height: 36px;
      border-width: 2px 2px 2px 0;
      border-radius: 0 10px 10px 0;
      border-color: #90c2ff;
      background-color: #afdbff;
    }
    #search-btn:hover {
      border-color: #5ea7ff;
      background-color: #6da6ff;
    }
    #clear-btn {
      position: absolute;
      right: 21%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #747474;
      font-size: 16px;
    }
  }
  ul {
    width: 80%;
    background-color: #ffffff;
    padding: 0;
    margin: 10px 0;
    border-radius: 5px;
    li {
      list-style: none;
      padding: 5px;
      box-sizing: border-box;
      display: block;
      cursor: pointer;
    }
    li:hover {
      background-color: #e7e7e7;
      color: #46a8ff;
    }
  }
}

.popup {
  user-select: none;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  h3 {
    margin: 0;
    text-align: center;
    text-shadow: 3px 3px 1px #cdcdcd;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
    tr {
      display: flex;
    }
    th {
      border: 1px solid #e7e7e7;
      background-color: #78cf7b;
      color: white;
      padding: 10px 12px;
      text-align: left;
      width: 65px;
    }
    th:hover {
      background-color: #51bb57;
    }
    td {
      border: 1px solid #e7e7e7;
      padding: 10px;
      text-align: left;
      flex: 1;
    }
    tr:last-child td {
      display: inline-block;
      max-height: 130px;
      overflow: scroll;
    }
  }
  div {
    img {
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
    }
  }
}

.layer-panel {
  z-index: 10;
  min-width: 288px;
  max-height: 80%;
  position: absolute;
  overflow-y: auto;
  top: 19%;
  right: 1%;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #888888;
  border-radius: 10px;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;

  & > ul {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 0;
    margin: 15px 20px 20px 20px;
    & > li {
      text-align: left;
      font-size: 18px;
      margin-top: 10px;
      & > input {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        cursor: pointer;
      }
      & > button {
        margin-left: 3px;
        border: none;
        text-decoration: underline;
        color: #ff6868;
        cursor: pointer;
        background-color: #fff;
      }
    }
  }
}
.hide {
  opacity: 0;
}

.btns {
  & > div {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    cursor: pointer;
  }
  & > div:hover {
    background-color: #95cdff;
    color: #ffffff;
  }
  #btn-link-view {
    top: 60px;
  }
  #btn-layer-panel {
    top: 110px;
  }
}
