html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: 100% 100%;
  transition: background-image 0.5s ease;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 400px;
  background-color: #fff;
  box-shadow: 3px 3px 10px #888888;
  border-radius: 10px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  label {
    font-size: 18px;
    align-self: self-start;
    width: 100px;
    margin-left: 36px;
    margin-bottom: 10px;
  }
  input {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #888888;
    background-color: #6ab5ff;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    font-size: 15px;
  }
  button:active {
    background-color: #4c89ff;
  }
}
.toogle-bgimg {
  position: absolute;
  top: 48%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 1000;
  text-align: center;
  line-height: 40px;
  opacity: 0.5;
  cursor: pointer;
  box-shadow: 3px 3px 10px #888888;
  color: #5f5f5f;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
